@page "/customer/{clientid}"
@inherits CustomerPageBase

@if (Customer == null)
{
    <p><em>Loading...</em></p>
}
else
{


    <h3>@Customer.Name</h3>

    <table>
        <tr>
            <td>Name:@Customer.Name </td>
        </tr>
        <tr>
            <td>
                <button style="margin-top: 20px;" @onclick="@(e => OnCancel())">OK</button>
            </td>
        </tr>
    </table>
}