@page "/points"
@inherits PointsPageBase

<h3>Points</h3>

@if (Points == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table>
    @foreach (var point in Points)
    {
        <tr>
            <td><a @onclick="@(e => OnSelect())">@point.Name</a></td>
        </tr>
    }
</table>
}